* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff9c4;
  color: #333;
  overflow-x: hidden;
  padding-top: 50px;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
}

.line {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 40px 0;
  text-align: center;
  color: #f9d71c;
  line-height: 5;
  letter-spacing: 2px;
}

.line:nth-last-child(2) {
  color: #333;
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: none;
}

.line:last-child {
  color: #1d5fa6;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.minion-img {
  width: 100%;  
  max-width: 500px;
  margin-top: 0px;
  border-radius: 10px;
}

